drop-zone > #zone
{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-color: #CCC;
    border-radius: 20px;
    border-width: 2px;
    border-style: dashed;
    height: 150px;
    width: 100%;
}
drop-zone > #zone > #zone-icon
{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 10px;
    content: url("/static/img/upload.png");
}
drop-zone > #zone > #zone-text
{
    position: absolute;
    color: #AAA;
    bottom: 20px;
}
drop-zone > #zone > #zone-info
{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
    content: url("/static/img/info.png");
}
drop-zone > #zone > #zone-input
{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}