.ping{
    transform-origin: 50% 50%;
    animation-duration: 2s;
    animation-name: ping;
    animation-iteration-count: infinite;
}
@keyframes ping{
    from{
        opacity: 1;
        transform: scale(0);
    }
    to{
        opacity: 0;
        transform: scale(1);
    }
}