time-line-event img[status="Incompleted"]{
    content: url("/static/img/incompleted.svg")
}

time-line-event img[status="In Progress"]{
    content: url("/static/img/in-progress.svg")
}

time-line-event img[status="Completed"]{
    content: url("/static/img/completed.svg")
}

time-line-event img[status="Failed"]{
    content: url("/static/img/failed.svg")
}