time-line-event .timeline-event-image{
    background-size: cover;
}

time-line-event .timeline-event-image[status="Incompleted"]{
    background-image: url("/static/img/incompleted.svg"); /* Using background-image instead of content for cross-browser support */
}

time-line-event .timeline-event-image[status="In Progress"]{
    background-image: url("/static/img/in-progress.svg");
}

time-line-event .timeline-event-image[status="Completed"]{
    background-image: url("/static/img/completed.svg");
}

time-line-event .timeline-event-image[status="Failed"]{
    background-image: url("/static/img/failed.svg");
}