{% extends "base.html" %}
{% load static %}

{% block "base-content" %}

<style>  </style>

<style>
	body {
		background-color: var(--bs-dark); 
		overflow: hidden; 
	}

	.circle {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
		display: inline-block;
		background-color: red;
	  }
	  
	ul{
		margin: 0px 0px;
	}

	div.invalid-feedback {
		margin: 0px 0px;
	}
</style>

	<span class="circle bg-warning" style="top: -5vw; left: -8vw; height: 30vw; width: 30vw;"></span>
	<span class="circle bg-danger" style="bottom: -10vw; right: -18vw; height: 35vw; width: 35vw;"></span>

<div class="d-flex flex-grow-1 flex-column bg-transparent justify-content-center align-items-center" style="min-height: 100vh; position: relative;">
	<div class="mb-4 pb-3"><h1 class="d-inline text-light pb-3 mb-3" style="font-size: 4em;">Auto<b class="text-secondary">M<svg class="pb-2" xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="currentColor" class="bi bi-exclude" viewBox="0 0 17 16">
		<path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"/>
	</svg>SS</b> </h1>
	</div>
	{% block "login-content" %}{% endblock %}
</div>

{% endblock %}