{% extends "base.html" %}
{% load static %}

{% block "base-content" %}

	<style>
		body{
			background-color: var(--bs-dark); 
			position: relative;
			overflow: hidden; 
		}
		.circle{
			height: 200px;
			width: 200px;
			border-radius: 50%;
			position: absolute;
			z-index: -1;
			display: inline-block;
			background-color: red;
		}  
		ul{
			margin: 0px 0px;
		}
		div.invalid-feedback{
			margin: 0px 0px;
		}
	</style>

	<span class="circle bg-warning animated pulse" style="top: -5vw; left: -8vw; height: 30vw; width: 30vw;"></span>
	<span class="circle bg-danger animated pulse" style="bottom: -10vw; right: -18vw; height: 35vw; width: 35vw;"></span>

	<div class="d-flex flex-grow-1 flex-column bg-transparent justify-content-center align-items-center" style="min-height: 100vh; position: relative;">
		<img class="animated fadeInDown" src="{% static "/img/automoss.svg" %}" height=60>
		{% block "login-content" %}{% endblock %}
	</div>

{% endblock %}