{% extends "main.html" %}

{% load static %}

{% block "main-content" %}

<div class="mb-3"> <h2>Jobs</h2> </div>

<style>
	.files
	{
		outline: 2px dashed #cccccc;
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear;
		padding: 120px 0px 85px 35%;
		text-align: center !important;
		margin: 0;
		width: 100% !important;
	}
	.files input
	{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width:100%;
	}
	.files input:focus
	{     
		outline: 2px dashed #92b0b3;  
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
	}
	.files
	{ 
		position:relative
	}
	.files:after 
	{  
		pointer-events: none;
		position: absolute;
		top: 60px;
		left: 0;
		width: 70px;
		right: 0;
		height: 70px;
		content: "";
		background-image: url({% static "img/upload.png" %});
		display: block;
		margin: 0 auto;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.files[selected]:after{
		background-image: url({% static "img/zip.png" %});
	}
	
	.color input
	{ 
		background-color:#f1f1f1;
	}
	.files:before 
	{
		position: absolute;
		bottom: 10px;
		left: 0;
		pointer-events: none;
		width: 100%;
		right: 0;
		height: 57px;
		content: "Choose a file, or drag it here.";
		display: block;
		margin: 0 auto;
		color: darkslategray;
		text-align: center;
	}
	.files[selected]:before{
		content: "File selected";
	}

</style>

<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input class="form-control me-2 rounded" type="search" placeholder="Search..." aria-label="Search">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createJob">Create Job</button>
			</span>
		</div>
	</div>
</div><br>

<div class="modal fade" id="createJob" tabindex="-1" aria-labelledby="createJobLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="create-job-form">
				{% csrf_token %}

				<div class="modal-header">
					<h5 class="modal-title" id="createJobLabel">Create Job</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<div class="modal-body">

						<!-- Submission files -->
						<div id="file-dropzone" class="mb-3 files">
							<input id="job-submission-files" type="file" class="form-control-file" accept=".zip">
						</div>
					
						<!-- Name -->
						<div class="mb-3">
							<label for="job-name">Name:</label>
							<input id="job-name" type="text" name="job-name" class="form-control" autocomplete="off" data-lpignore="true" data-form-type="text">
						</div>

						<!-- Language -->
						<div class="mb-3">
							<label for="job-language">Language:</label>
							<select class="form-select" id="job-language" name="job-language" data-form-type="other">

							{% for language, info in SUPPORTED_LANGUAGES.items %}
								<option language-id={{language}}>{{info.0}} </option>
							{% endfor %}

							</select>
						</div>

						<!-- Max until ignored -->
						<div class="mb-3">
							<label for="job-max-until-ignored">Max until ignored:</label><br>
							<input id="job-max-until-ignored" type="number" name="job-max-until-ignored" value="{{ DEFAULT_MOSS_SETTINGS.max_until_ignored }}">
						</div>

						<!-- Max displayed matches -->
						<div class="mb-3">
							<label for="job-max-displayed-matches">Max displayed matches:</label><br>
							<input id="job-max-displayed-matches" type="number" name="job-max-displayed-matches" value="{{DEFAULT_MOSS_SETTINGS.max_displayed_matches}}">
						</div>
					</div>
				<div class="modal-footer">
					<div style="position: relative; min-height: 40px;">
						<button id="create-job-button" type="submit" class="btn btn-primary" disabled>Create</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<table id="job-table" class="table table-striped border" style="background-color: white">

	<!-- Column headings -->
	<thead>
		<tr>
			<th scope="col" style="width: 30%">Name</th>
			<th scope="col" style="width: 30%">Language</th>
			<th scope="col" style="width: 30%">Date Created</th>
			<th scope="col" style="width: 10%">Status</th>
		</tr>
	</thead>
	
	<!-- Jobs -->
	<tbody></tbody>

</table>

<div id="no-jobs-message" class="container text-center" style="display:none">
	No jobs have been created yet!
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"
    integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

	let languages = {{ SUPPORTED_LANGUAGES | js }};
	let statuses = {{ STATUSES | js }};

	let inQueueStatus = "{{ INQUEUE_STATUS }}";
	let processingStatus = "{{ PROCESSING_STATUS }}";
	let parsingStatus = "{{ PARSING_STATUS }}";
	let completedStatus = "{{ COMPLETED_STATUS }}";
	let failedStatus = "{{ FAILED_STATUS }}";


	let statusMapping = {};
	statusMapping[inQueueStatus] = 'bg-warning';
	statusMapping[processingStatus] = 'bg-info';
	statusMapping[parsingStatus] = 'bg-dark';
	statusMapping[completedStatus] = 'bg-success';
	statusMapping[failedStatus] = 'bg-danger';

	class Job extends HTMLTableRowElement{
		constructor(obj) {
			super()
			Object.assign(this, obj)

			this.setAttribute('job_id', obj.job_id)
			this.setAttribute('status', obj.status)

			this.tableComment = document.createElement('td')
			this.tableComment.innerHTML = this.comment;
			
			this.tableLanguage = document.createElement('td')
			this.tableLanguage.innerHTML = languages[this.language][0];

			this.tableStartDate = document.createElement('td')
			this.tableStartDate.innerHTML = new Date(this.creation_date).toLocaleString();
			
			let tableStatusCell = document.createElement('td')
			this.tableStatus = document.createElement('span')
			tableStatusCell.append(this.tableStatus)
			
			this.append(this.tableComment)
			this.append(this.tableLanguage)
			this.append(this.tableStartDate)
			this.append(tableStatusCell)

			this.setStatus(this.status)
		}

		setStatus(newStatus){
			this.tableStatus.innerHTML = statuses[newStatus]
			if(newStatus == completedStatus){
				this.tableComment.innerHTML = `<a href="/jobs/${this.job_id}/result/" style="text-decoration: none;">${this.comment}</a>`
			}

			this.tableStatus.className = '';
			
			let classes = ['badge', statusMapping[newStatus]];

			this.tableStatus.classList.add(...classes)
		}
	}
	customElements.define('job-row', Job, { extends: 'tr' });
	

	const container = document.getElementById('createJob');
	const modal = new bootstrap.Modal(container);
	
	let languageSelect = document.getElementById('job-language')


	let jobTable = document.getElementById('job-table')

	function addJob(job){
		jobTable.getElementsByTagName('tbody')[0].prepend(new Job(job))
	}


	let unfinishedJobs = [];
	let result = fetch("{% url "api:jobs:get_jobs" %}").then(async (response)=>{
		let json = await response.json()

		json.forEach(item => {
			addJob(item);
			if (!isTerminalState(item.status)){
				unfinishedJobs.push(item.job_id)
			}
		});
		if(json.length == 0){
			document.getElementById('no-jobs-message').style.display = 'block'
		}
	});
	let terminalStates = [completedStatus, failedStatus];
	function isTerminalState(state){
		return terminalStates.includes(state)
	}
	
	setInterval(async function(){
		if(unfinishedJobs.length == 0){
			// Do not make any request if all jobs are finished
			return;
		}
		let result = await fetch(
			"{% url "api:jobs:get_statuses" %}?" + new URLSearchParams({job_ids: unfinishedJobs})
		)

		let json = await result.json();

		for (let key in json) {
			var value = json[key];

			document.querySelector(`tr[job_id="${key}"]`).setStatus(value)
			if(isTerminalState(value)){
				unfinishedJobs = unfinishedJobs.filter(item => item !== key)
			}

		}
		
		// TODO update jobs information
	},{{ POLLING_TIME }});

	let dropzone = document.getElementById('file-dropzone')
	dropzone.addEventListener('dragenter', function(){
		dropzone.style.backgroundColor = "#EFFAFF";
	});

	dropzone.addEventListener('dragleave', function(){
		dropzone.style.backgroundColor = "#FFFFFF";
	});

	dropzone.addEventListener('drop', function(){
		dropzone.style.backgroundColor = "#FFFFFF";
	});

	function getFileName(name){
		return name.split('.').shift();
	}
    let form = document.getElementById('create-job-form')

    let input = document.getElementById('job-submission-files')
	input.onchange = (e) => {

		let zipFile = input.files[0];
		if (!zipFile) {
			// TODO - display error, no files
			return;
		}

		let zipName = zipFile.name;

		if(getExtension(zipName) != 'zip'){
			input.value = '';
			return;
		}

		document.getElementById('create-job-button').disabled = false;

		// TODO Check that it is a zip file

		dropzone.setAttribute('selected', true);

		let jobName = document.getElementById('job-name')
		jobName.value = jobName.value || getFileName(zipName)
		
		// TODO select extension based on most popular
		JSZip.loadAsync(zipFile).then((zip)=>{
			
			// initialise counts:
			let d = {};
			for (let key in languages){
				d[key] = 0;
			}

			zip.forEach(function (relativePath, file) {
				let extension = getExtension(file.name);

				for (let key in languages){
					console.log()
					if(languages[key][2].includes(extension)){
						d[key] += 1;
					}
				}
			});

			let bestID = Object.entries(d).reduce((a, b) => a[1] > b[1] ? a : b)[0]
			languageSelect.value = languages[bestID][0];
		});
	}

    // TODO increase list

	function getExtension(name){
		return name.split('.').pop();
	}

	// TODO
	{% comment %} data.append("{{ BASE_FILES_NAME }}", blob, zipEntry.name) {% endcomment %}

	// https://stackoverflow.com/a/50472925
	form.onsubmit = async (e) => {

		e.preventDefault();

		// Construct new form with relevant data
		let data = new FormData(form);

		// Read zip file
		let zipFile = input.files[0];
		if (!zipFile) {
			// TODO - display error, no files
			return;
		}
		let zip = await JSZip.loadAsync(zipFile);

		console.log(zip);

		let files = [];
		zip.forEach(function (relativePath, file) {
			files.push(file)
		});

		await Promise.all(files.map(async (zipEntry) => {

			let languageID =languageSelect.options[languageSelect.selectedIndex].getAttribute('language-id')

			let extension = getExtension(zipEntry.name);

			// TODO do not upload if no valid files found
			let validFile = languages[languageID][2].includes(extension);
			if (validFile) {
				let blob = await zipEntry.async('blob')
				data.append("{{ FILES_NAME }}", blob, zipEntry.name)
				console.log('valid file:', zipEntry.name);

			} else {
				console.log('invalid file:', zipEntry.name);
			}
		}))

		console.log(data)

		
		let result = await fetch("{% url "jobs:new" %}", {
			method: 'POST',
			body: data,
		})

		let json = await result.json();

		document.getElementById('no-jobs-message').style.display = 'none'
		addJob(json)

		// Hide modal on successful post
		modal.hide()

		unfinishedJobs.push(json['job_id'])

		// Reset previous job settings:
		dropzone.removeAttribute('selected');
		form.reset();
	};

</script>

{% endblock %}