{% extends "main.html" %}

{% load static %}

{% block "main-content" %}

<div class="mb-3"> <h2>Jobs</h2> </div>

<style>
	.files
	{
		outline: 2px dashed #cccccc;
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear;
		padding: 120px 0px 85px 35%;
		text-align: center !important;
		margin: 0;
		width: 100% !important;
	}
	.files input
	{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width:100%;
	}
	.files input:focus
	{     
		outline: 2px dashed #92b0b3;  
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
	}
	.files
	{ 
		position:relative
	}
	.files:after 
	{  
		pointer-events: none;
		position: absolute;
		top: 60px;
		left: 0;
		width: 70px;
		right: 0;
		height: 70px;
		content: "";
		background-image: url({% static "bootstrap/img/upload.png" %});
		display: block;
		margin: 0 auto;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.color input
	{ 
		background-color:#f1f1f1;
	}
	.files:before 
	{
		position: absolute;
		bottom: 10px;
		left: 0;  pointer-events: none;
		width: 100%;
		right: 0;
		height: 57px;
		content: "Choose a file, or drag it here.";
		display: block;
		margin: 0 auto;
		color: darkslategray;
		text-align: center;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createJob">Create Job</button>
				<button type="button" class="btn btn-primary" onclick="location.reload();">⭮</button>
			</span>
		</div>
	</div>
</div><br>

<div class="modal fade" id="createJob" tabindex="-1" aria-labelledby="createJobLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="create-job-form">
				{% csrf_token %}

				<div class="modal-header">
					<h5 class="modal-title" id="createJobLabel">Create Job</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<div class="modal-body">

						<!-- Submission files -->
						<div id="file-dropzone" class="form-group files">
							<input id="job-submission-files" type="file" class="form-control-file" accept=".zip">
						</div><br>
					
						<!-- Name -->
						<div class="form-group">
							<label for="job-name">Name:</label><br>
							<input id="job-name" type="text" class="form-control">
						</div><br>

						<!-- Language -->
						<div class="form-group">
							<label for="job-language">Language:</label><br>
							<select class="form-select" id="exampleSelect1" data-form-type="other">

							{% for language, extensions in languages.items %}
								<option extensions="{{extensions}}">{{language}} </option>
							{% endfor %}

							</select>
						</div><br>

						<!-- Max until ignored -->
						<div class="form-group">
							<label for="job-max-until-ignored">Max until ignored:</label><br>
							<input id="job-max-until-ignored" type="number" placeholder="1000000">
						</div><br>

						<!-- Max displayed matches -->
						<div class="form-group">
							<label for="job-max-displayed-matches">Max displayed matches:</label><br>
							<input id="job-max-displayed-matches" type="number" placeholder="1000000">
						</div><br>
					</div>
				<div class="modal-footer">
					<div style="position: relative; min-height: 40px;">
						<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<table id="job-table" class="table table-striped border">

	<!-- Column headings -->
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Date Created</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	
	<!-- Jobs -->
	<tbody></tbody>

</table>

<div id="no-jobs-message" class="container text-center" style="display:none">
	No jobs have been created yet!
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"
    integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

	class Job extends HTMLTableRowElement{
		constructor(obj) {
			super()
			Object.assign(this, obj)

			this.setAttribute('job_id', obj.job_id)
			this.setAttribute('status', obj.status)

			this.innerHTML = `
			<td>
				<a href="/jobs/${this.job_id}/report/" style="text-decoration: none;">${this.comment}</a>
			</td>
			<td> ${new Date(this.start_date).toLocaleString()} </td>
			<td></td>
			`;

			this.setStatus(this.status)
		}

		setStatus(newStatus){
			this.children[2].innerHTML = statuses[newStatus]
		}
	}
	customElements.define('job-row', Job, { extends: 'tr' });
	

	let jobTable = document.getElementById('job-table')

	function addJob(job){
		jobTable.getElementsByTagName('tbody')[0].prepend(new Job(job))
	}

	let languages = {{ languages | js }};
	let statuses = {{ statuses | js }};

	let completedStatus = "{{ completed }}"

	let unfinishedJobs = []
	let result = fetch("{% url "api:jobs:get_jobs" %}", {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		}
	}).then(async (response)=>{
		let json = await response.json()

		json.forEach(item => {
			addJob(item);
			if (item.status != completedStatus){
				unfinishedJobs.push(item.job_id)
			}
		});
		if(json.length == 0){
			document.getElementById('no-jobs-message').style.display = 'block'
		}
	});
	
	setInterval(async function(){
		if(unfinishedJobs.length == 0){
			// Do not make any request if all jobs are finished
			return;
		}
		let result = await fetch("{% url "api:jobs:get_statuses" %}", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken
			},
			body: JSON.stringify({
				'job_ids': unfinishedJobs
			})
		})

		let json = await result.json();

		for (let key in json) {
			var value = json[key];

			if(value == completedStatus){
				document.querySelector(`tr[job_id="${key}"]`).setStatus(value)
				unfinishedJobs = unfinishedJobs.filter(item => item !== key)
			}

		}
		
		// TODO update jobs information
	},{{ poll }});

	let dropzone = document.getElementById('file-dropzone')
	
	dropzone.addEventListener('dragenter', function(){
		dropzone.style.backgroundColor = "#CDFFCC";
	})

	dropzone.addEventListener('dragleave', function(){
		dropzone.style.backgroundColor = "#FFFFFF";
	});

	dropzone.addEventListener('drop', function(){
		dropzone.style.backgroundColor = "#FFFFFF";
	});

	function getFileName(name){
		return name.split('.').shift();
	}
    let form = document.getElementById('create-job-form')

    let input = document.getElementById('job-submission-files')
	input.onchange = (e) => {
		console.log(e)

		let zipFile = input.files[0];
		if (!zipFile) {
			// TODO - display error, no files
			return;
		}

		// TODO Check that it is a zip file

		document.getElementById('job-name').value = getFileName(zipFile.name)
		
		// TODO select extension based on most popular
		// JSZip.loadAsync(zipFile).then((zip)=>{
		// 	console.log(zip)
		// });
	}

    // TODO increase list
    let validExtensions = ['py']

    function validFile(name) {
        let extension = name.split('.').pop();
        return validExtensions.includes(extension);
    }

	// https://stackoverflow.com/a/50472925
	form.onsubmit = async (e) => {

		e.preventDefault();

		// Construct new form with relevant data
		let data = new FormData(form);

		// Read zip file
		let zipFile = input.files[0];
		if (!zipFile) {
			// TODO - display error, no files
			return;
		}
		let zip = await JSZip.loadAsync(zipFile);

		console.log(zip);

		let files = [];
		zip.forEach(function (relativePath, file) {
			files.push(file)
		});

		await Promise.all(files.map(async (zipEntry) => {
			console.log(zipEntry.name);

			if (validFile(zipEntry.name)) {
				let blob = await zipEntry.async('blob')
				data.append('files', blob, zipEntry.name)
				console.log('valid file:', zipEntry.name);
			} else {
				console.log('invalid file:', zipEntry.name);
			}
		}))

		console.log(data)

		let result = await fetch('new', {
			method: 'POST',
			body: data,
		})

		let json = await result.json();

		document.getElementById('no-jobs-message').style.display = 'none'
		addJob(json)

		unfinishedJobs.push(json['job_id'])

	};

</script>

{% endblock %}