{% extends "main.html" %}
{% load static %}

{% block "main-content" %}

<h2 class="mb-3">Jobs</h2>

<!-- Search/Create -->
<div class="row mb-4">
	<div class="col-lg-12">
		<div class="input-group">
			<input class="form-control me-2 rounded" type="search" placeholder="Search..." aria-label="Search">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createJob">Create Job</button>
			</span>
		</div>
	</div>
</div>

<!-- Table -->
<table id="job-table" class="table table-striped border" style="background-color: white">

	<!-- Headings -->
	<thead>
		<tr>
			<th scope="col" style="width: 30%">Name</th>
			<th scope="col" style="width: 30%">Language</th>
			<th scope="col" style="width: 30%">Date Created</th>
			<th scope="col" style="width: 10%">Status</th>
		</tr>
	</thead>
	
	<!-- Jobs -->
	<tbody></tbody>

</table>

<div id="no-jobs-message" class="container text-center" style="display: none">No jobs have been created yet!</div>

<!-- Modal -->
<div class="modal fade" id="createJob" tabindex="-1" aria-labelledby="createJobLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="create-job-form">

				{% csrf_token %}

				<div class="modal-header">
					<h5 class="modal-title" id="createJobLabel">Create Job</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body" id="create-job-body">

					<!-- Drop Zone -->
					<link href="{% static "css/dropZone.css" %}" rel="stylesheet">
					<div class="mb-3">
						<drop-zone id="drop-zone" uploadImgURL="{% static "img/upload.png" %}" removeImgURL="{% static "img/remove.png" %}" infoImgURL="{% static "img/info.png" %}"></drop-zone>
					</div>
					<script src="{% static "js/dropZone.js" %}"></script>

					<!-- Name -->
					<div class="mb-3">
						<label for="job-name">Name:</label>
						<input class="form-control" id="job-name" type="text" name="job-name" autocomplete="off" data-lpignore="true" data-form-type="text">
					</div>

					<!-- Language -->
					<div class="mb-3">
						<label for="job-language">Language:</label>
						<select class="form-select" id="job-language" name="job-language" data-form-type="other">
							{% for language, info in SUPPORTED_LANGUAGES.items %}
								<option language-id={{language}}>{{info.0}} </option>
							{% endfor %}
						</select>
					</div>

					<!-- Max until ignored -->
					<div class="mb-3">
						<label for="job-max-until-ignored">Max matches until ignored:</label>
						<input class="form-control" id="job-max-until-ignored" type="number" name="job-max-until-ignored" value="{{ DEFAULT_MOSS_SETTINGS.max_until_ignored }}">
					</div>

					<!-- Max displayed matches -->
					<div class="mb-3">
						<label for="job-max-displayed-matches">Max matches displayed:</label>
						<input class="form-control" id="job-max-displayed-matches" type="number" name="job-max-displayed-matches" value="{{DEFAULT_MOSS_SETTINGS.max_displayed_matches}}">
					</div>
				</div>

				<div class="modal-footer">
					<div style="position: relative; min-height: 40px;">
						<button id="create-job-button" type="submit" class="btn btn-primary" data-bs-dismiss="modal" disabled>Create</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{% static "lib/jszip.min.js" %}"></script>

<script src="{% static "js/job.js" %}"></script>

<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

	const container = document.getElementById('createJob');
	const modal = new bootstrap.Modal(container);
	
	let languageSelect = document.getElementById('job-language')
	let jobName = document.getElementById('job-name');
	let maxMatchesUntilIgnored = document.getElementById('job-max-until-ignored');
	let maxMatchesDisplayed = document.getElementById('job-max-displayed-matches');
	let createJobButton = document.getElementById('create-job-button');


	let jobTable = document.getElementById('job-table')

	function addJob(job){
		jobTable.getElementsByTagName('tbody')[0].prepend(new Job(job))
	}

	let languages = {{ SUPPORTED_LANGUAGES | js }};
	let statuses = {{ STATUSES | js }};


	let completedStatus = "{{ COMPLETED_STATUS }}";
	let processingStatus = "{{ PROCESSING_STATUS }}";
	let uploadingStatus = "{{ UPLOADING_STATUS }}";
	let failedStatus = "{{ FAILED_STATUS }}";


	let unfinishedJobs = [];
	let result = fetch("{% url "api:jobs:get_jobs" %}", {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		}
	}).then(async (response)=>{
		let json = await response.json()

		json.forEach(item => {
			addJob(item);
			if (!isTerminalState(item.status)){
				unfinishedJobs.push(item.job_id)
			}
		});
		if(json.length == 0){
			document.getElementById('no-jobs-message').style.display = 'block'
		}
	});
	let terminalStates = [completedStatus, failedStatus];
	function isTerminalState(state){
		return terminalStates.includes(state)
	}
	
	setInterval(async function(){
		if(unfinishedJobs.length == 0){
			// Do not make any request if all jobs are finished
			return;
		}
		let result = await fetch("{% url "api:jobs:get_statuses" %}", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken
			},
			body: JSON.stringify({
				'job_ids': unfinishedJobs
			})
		})

		let json = await result.json();

		for (let key in json) {
			var value = json[key];

			document.querySelector(`tr[job_id="${key}"]`).setStatus(value)
			if(isTerminalState(value)){
				unfinishedJobs = unfinishedJobs.filter(item => item !== key)
			}
		}
		
		// TODO update jobs information
	},{{ POLLING_TIME }});

    let form = document.getElementById('create-job-form')


    // TODO increase list

	function getExtension(name){
		return name.split('.').pop();
	}

	// TODO
	{% comment %} data.append("{{ BASE_FILES_NAME }}", blob, zipEntry.name) {% endcomment %}

	const dropzone = document.getElementById('drop-zone')
	// https://stackoverflow.com/a/50472925
	form.onsubmit = async (e) => {

		e.preventDefault();

		// Construct new form with relevant data
		let data = new FormData(form);

		// Read zip file
		let zipFile = dropzone.files[0];
		if (!zipFile) {
			// TODO - display error, no files
			return;
		}
		let zip = await JSZip.loadAsync(zipFile);

		console.log(zip);

		let files = [];
		zip.forEach(function (relativePath, file) {
			files.push(file)
		});

		await Promise.all(files.map(async (zipEntry) => {

			let languageID =languageSelect.options[languageSelect.selectedIndex].getAttribute('language-id')

			let extension = getExtension(zipEntry.name);

			// TODO do not upload if no valid files found
			let validFile = languages[languageID][2].includes(extension);
			if (validFile) {
				let blob = await zipEntry.async('blob')
				data.append("{{ FILES_NAME }}", blob, zipEntry.name)
				console.log('valid file:', zipEntry.name);

			} else {
				console.log('invalid file:', zipEntry.name);
			}
		}))

		console.log(data)

		
		let result = await fetch("{% url "jobs:new" %}", {
			method: 'POST',
			body: data,
		})

		let json = await result.json();

		document.getElementById('no-jobs-message').style.display = 'none'
		addJob(json)

		// Hide modal on successful post
		modal.hide()

		unfinishedJobs.push(json['job_id'])



		// RESET
		form.reset();
		dropzone.reset();
	};


	function updateFormData(){


		if (dropzone.files.length > 0)
		{
			zipFile = dropzone.files[0]; // TODO just first for now...

			// name
			jobName.value = jobName.value || zipFile.name.slice(0, zipFile.name.length - 4);

			// programming language
			JSZip.loadAsync(zipFile).then((zip)=>{
				
				// initialise counts:
				let d = {};
				for (let key in languages){
					d[key] = 0;
				}

				zip.forEach(function (relativePath, file) {
					let extension = getExtension(file.name);

					for (let key in languages){
						console.log()
						if(languages[key][2].includes(extension)){
							d[key] += 1;
						}
					}
				});

				let bestID = Object.entries(d).reduce((a, b) => a[1] > b[1] ? a : b)[0]
				languageSelect.value = languages[bestID][0];
			});

			createJobButton.disabled = false;
		}
		else
		{
			jobName.value = "";
			languageSelect.selectedIndex = 0;
			maxMatchesUntilIgnored.value = {{ DEFAULT_MOSS_SETTINGS.max_until_ignored }};
			maxMatchesDisplayed.value = {{ DEFAULT_MOSS_SETTINGS.max_displayed_matches }};

			createJobButton.disabled = true;
		}
	}

	dropzone.onFileAdded = () =>
	{
		updateFormData();
	};

	dropzone.onFileRemoved = () =>
	{
		updateFormData();
	};


</script>


{% endblock %}