{% extends "base.html" %}

{% block "main" %}

<h1>Create Job</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"
    integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<form id="submit-form">
    {% csrf_token %}

    <div class="form-group">
        <label for="zip-file-input">Select .zip file</label>
        <input type="file" class="form-control-file" id="zip-file-input" accept=".zip">
    </div>

    <div class="form-group">
        <label for="select-language">Select Language</label>
        <select class="form-control" id="select-language">
            <option>Python</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

    let form = document.getElementById('submit-form')

    // TODO increase list
    let validExtensions = ['py']

    function validFile(name) {
        let extension = name.split('.').pop();
        return validExtensions.includes(extension);
    }

    // https://stackoverflow.com/a/50472925
    form.onsubmit = async (e) => {
        e.preventDefault();

        // Construct new form with relevant data
        let data = new FormData(form);

        // Read zip file
        let input = form.querySelector('input[type="file"]')

        let zipFile = input.files[0];
        if (!zipFile) {
            // TODO - display error, no files
            return;
        }
        JSZip.loadAsync(zipFile).then(function (zip) {
            console.log(zip);

            let files = [];
            zip.forEach(function (relativePath, file) {
                files.push(file)
            });

            Promise.all(files.map(async (zipEntry) => {
                console.log(zipEntry.name);

                if (validFile(zipEntry.name)) {
                    let blob = await zipEntry.async('blob')
                    data.append('files', blob, btoa(zipEntry.name))
                    console.log('valid file:', zipEntry.name);
                } else {
                    console.log('invalid file:', zipEntry.name);
                }

            })).then(function (d) {
                console.log(data)
                fetch('', {
                    method: 'POST',
                    body: data,
                }).then(result => {
                    // do something with the result
                    console.log("Completed with result:", result);
                })
            })

        });
    };

</script>

{% endblock "main" %}